venv-7
data
notebook/train_final.csv
notebook/data_to_train.csv
media/valeurs manquantes 1.png
model/best_lgbm.joblib
notebook/beta.PNG
notebook/F_score_beta.PNG
notebook/F_score.png
notebook/valeurs manquantes 1.png
notebook/smote.PNG
notebook/recall_precision.PNG
venv_7
notebook/data_to_test.csv
notebook/data_to_train.csv.zip
notebook/test_final.csv
notebook/train_final.csv.zip
notebook/catboost_info/catboost_training.json
notebook/catboost_info/learn_error.tsv
notebook/catboost_info/time_left.tsv
notebook/catboost_info/learn/events.out.tfevents
rapport.docx
notebook/train_final_sample.csv
rapport.docx
notebook/train_final_sample.csv.zip
notebook/data_to_train_sample.csv.zip
notebook/test_final_sample.csv
media/Beta.png
media/class_target.png
media/Fbeta.png
media/F_score.png
media/precision.png
media/Recall.png
media/smonte.png
media/target_class.png
rapport.docx
notebook/requirements.txt
notebook/requirements.txt
__pycache__/api.cpython-38.pyc
